body {
  font-family: 'Open Sans', sans-serif;
  .btn-search {
    height: 50px;
    background: #ffffff12;
    color: white;
    font-size: 16px;
    border: 1px solid white;
    text-decoration: none;
    display: flex;
    align-items: center;
    &:hover {
      background: #ffffff45 !important;
      color: white;
    }
  }
  .table-top-500 {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 10px 10px 5px #888888;
  }
}

/*-----------------------------------------------------------Style chung ---------------------------------------------*/
.inner-nav {
  ul {
    li {
      a {
        text-transform: initial !important;
        font-size: 14px;
      }
    }
  }
}

.title-inf {
  margin-bottom: 15px;
  margin-left: 15px;
  text-align: center;
  font-size: 35px;
}

.hr-inf {
  width: 100px;
  border-color: #c7c7c7;
}

.table {
  thead {
    tr {
      border-bottom: #ededed 2px solid;
      td {
        font-size: 22px;
        font-weight: 300;
        color: #1F76A3;
      }
    }
  }
  tbody {
    tr {
      border-bottom: #ededed 2px solid;
      font-size: 17px;
      .td-attribute {
        width: 30%;
      }
      .td-parameter {
        color: #096898;
        font-weight: 500;
      }
    }
  }
}

.domain {
  color: #337ab7 !important;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  li {
    span {
      display: inline-block;
      min-width: 30px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 7px 14px;
      border: 1px solid #eaeaea;
      color: black;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
      -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    }
    a{
      color: black;
    }
  }
}

/*----------------------------------------------Information website-----------------------------------------------------*/
body {
  .information-website {
    display: flex;
    justify-content: center;
    box-shadow: 7px 7px 5px #888888;
    border-radius: 5px;
    .sidebar-inf {
      margin: 0;
      border: #c7c7c7 1px solid;
      margin-bottom: -1px;
      height: 60px;
      .domain-website {
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
          margin: 0;
          font-size: 25px;
          color: #1F76A3;
          padding: 10px;
          position: inherit;
        }
      }
      .icon-sidebar-inf-web {
        span {
          display: inline-block;
          i {
            font-size: 35px;
            padding: 10px;
            color: grey;
          }
          small {
            font-size: 15px;
          }
          &:hover i, small {
            color: #1F76A3 !important;
          }
        }
      }
    }
    .right {
      .table {
        td {
          border: 0;
          .right-addon {
            padding: 25px;
            padding-top: 0;
            h1 {
              margin: 0;
              margin-bottom: 10px;
              font-size: 31px;
              img {
                width: 20px;
              }
            }
            p {
              margin-bottom: 5px;
            }
          }
        }
        th {
          border: 0;
        }
        .stickyHeader-screenshotContainer {
          position: relative;
          float: right;
          box-sizing: border-box;
          width: 100%;
          padding: 27px 0 15px 9.8%;
          overflow: hidden;
          transition: all .5s ease;
          .stickyHeader-screenshotBg {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 5px;
            left: 5px;
            width: 100%;
            height: 100%;
            background-size: 170% auto;
            background-position: 50% 15%;
            -webkit-filter: blur(6px);
            filter: blur(6px);
          }
          img {
            position: relative;
            max-width: 400px;
          }
        }
      }
      .rank {
        padding: 20px;
        border: 1px solid rgba(216, 216, 216, 0.5);
        background: #fafafa;
        border-radius: 5px;
        .numscroller {
          margin-bottom: 0;
          text-align: right;
          font-size: 30px;
          color: #2b3d52;
        }
        i {
          font-size: 22px;
          margin-right: 5px;
        }
        span {
          font-size: 19px;
          color: #2b3d52;
        }
        a {
          color: #4a86c5;
          text-decoration: none;
        }
      }
      .traffic-over {
        padding: 15px;
        .table {
          thead {
            tr {
              td {
                font-size: 22px;
              }
            }
          }
        }
      }
      #chartdiv {
        width: 80%;
        height: 500px;
        margin: auto;
      }
      #chartUpstream {
        width: 100%;
        height: 400px;
      }
    }
  }
}

